.vs
/.vs
/vs
/src/Services/ClientAndServerService/Services.ClientAndServerService.Api/Logs/*
/src/Services/DataCaptureService/Services.DataCaptureService.Api/Logs/*
/src/Services/DataProcessService/Services.DataProcessService.Api/Logs/*
/src/Services/LocationService/Services.LocationService.Api/Logs/*
/src/Services/UserInfoService/Services.UserInfoService.Api/Logs/*
/src/Services/ClientAndServerService/Services.ClientAndServerService/Migrations/*
/src/Services/DataCaptureService/Services.DataCaptureService/Migrations/*
/src/Services/DataProcessService/Services.DataProcessService/Migrations/*
/src/Services/LocationService/Services.LocationService/Migrations/*
/src/Services/UserInfoService/Services.UserInfoService/Migrations/*